configuration {
  modi: "drun,run";
  show-icons: true;
  terminal: "kitty";
  drun-display-format: "{name}";
  disable-history: false;
}

* {
  background: #1e1e2e;
  foreground: #cdd6f4;
  selected-background: #89b4fa;
  selected-foreground: #1e1e2e;
  border-color: #cba6f7;
}

window {
  width: 40%;
  padding: 10px;
  border: 2px;
  border-radius: 10px;
}

mainbox {
  children: [inputbar, listview];
  spacing: 8px;
}

inputbar {
  children: [prompt, entry];
  padding: 0 0 6px 0;
}

listview {
  lines: 8;
  columns: 1;
  fixed-height: false;
}

element {
  padding: 6px 8px;
}

element alternate {
  background-color: #181825;
}

element selected {
  background-color: @selected-background;
  text-color: @selected-foreground;
}

element-text, prompt, entry {
  text-color: @foreground;
}

element selected element-text {
  text-color: #1e1e2e;
}
